@import "@arcgis/core/assets/esri/themes/light/main.css";

.btnContainer {
  display: flex;
  justify-content: center;
  width: 100%;

}
.btnContainer > .desBtn {
  text-align: center;
  width: 300px;
  margin: 0px;
  line-height: 75px;
  font-size: 30px;
}